.account-nav {
    position: fixed;
    width: 250px;
    bottom: -160px;
    right: 5%;
    padding: 10px;
    height: 200px;
    background-color:#FFC33C;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 8px #202020;
    transition-duration: 300ms;
    
    z-index: 100;
}

.account-nav-toggled {
    bottom: 0px;
    transition-duration: 300ms;
}

.account-title {
    height: 30px;
    border-bottom: 1px solid rgb(206, 156, 39);
}