/*-----LESS VARIABLES-----*/
@light : #FAFAFA;
@dark: #404040;
@blue-1 : #00C8F8;
@blue-2 : #59C4C5;
@yellow-1 : #FFC33C;
@yellow-2 : #FBE2B4;
@red : #FF4C65;

/*-----FONTS IMPORT-----*/
@import url('https://fonts.googleapis.com/css?family=Pacifico');

* {
    box-sizing: border-box;
    /* border:1px solid red; */
}

.add-recette {
    form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    h2 {
        width: 100%;
        margin: 1rem 0;
        padding: 0;
        font-family:'Pacifico' ,serif;
        text-align: center;
        font-size: 2.2rem;
        color: @dark;
        font-weight: 500;
    }
    input[type='submit'] {
        width: 20%;
    }
    label {
        text-align: center;
    }
    .inforecette {
        width: 50%;
    }
    .deroulerecette {
        width: 50%;
    }
}

/*STEP BY STEP STYLE*/

.step-container, .ing-container {
    width: 85%;
    margin:auto;
    display: flex;
    position: relative;

    .step-number, .ing-number {
        width: 10%;
        left: 0;
        font-weight: bold;
    }
    .step, .ing {
        width: 70%;
        font-size: 1.1rem;
        font-family: sans-serif;
        padding: 10px;
    }
    .step-more, .ing-more {
        width: 10%;
        right:0;
    }
    .step-number, .step-more, .ing-number, .ing-more {
        position: absolute;
        top: 50%;

        font-size: 1.5rem;
        color: @light;
        background-color: @yellow-1;
        border-radius: 2rem;
        max-height: 50px;
        max-width: 50px;
        line-height: 50px;
        text-align: center;

        transform: translateY(-50%)
    }
    .step-number:hover, .step-more:hover, .ing-number:hover, .ing-more:hover {
        cursor: pointer;
        background-color: lighten(@yellow-1, 10%);
    }
    .step-number:active, .step-more:active, .ing-number:active, .ing-more:active {
        background-color: darken(@yellow-1, 10%);
    }
    
}

/*INGREDIENTS*/

.tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    label {
        width: 100%;
    }
    .validated-tags {
        width: 100%;
        margin-top: 10px;

        span {
            position: relative;
            padding: 3px;
            margin: 5px;
            padding-right: 20px;
            background-color: @yellow-1;
            border-radius: 5px;

            .fas {
                position: absolute;
                right: 5px;
                top: 50%;
                transform: translateY(-50%);
                opacity: 0.9;
            }
            .fas:hover {
                cursor: pointer;
                opacity: 1;
            }
        }
    }

    #taginput {
        margin: 1rem 0;
        border-radius: 0;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    #addtag {
        height: 35px;
        margin: 1rem 0;
        padding: 0 1rem;
        border: 1px solid @yellow-1;
        background: @yellow-1;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        outline: none;
    }
    #addtag:hover {
        background-color: lighten(@yellow-1, 10%);
        cursor: pointer;
    }
    #addtag:active {
        background-color: darken(@yellow-1, 10%);
        cursor: pointer;
    }
}