/*CE sera le fichier CSS*/
@import url('https://fonts.googleapis.com/css?family=Nunito:200,400,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

* {
    box-sizing: border-box;
    /* border:1px solid red; */
}

body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    color: #202020;
    font-family: 'Noto Sans', sans-serif;
}

.container {
    width: 100%;
    margin: auto;
    padding: 20px 100px;
    padding-top: 400px;
    
    background-color: #fff;
    
    box-shadow: 0 0 6px #404040;
    transform: translateY(-220px);
    transition: transform;
    transition-duration: 300ms;
    min-height: 100vh; /*a retirer à la fin du projet */
    z-index: 10;
}