@import url('https://fonts.googleapis.com/css?family=Nunito:200,400,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');


.recette-comm {
    border:0px solid black;
    border-radius: 10px;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    background-color: #FF4c65;
    box-shadow: 0 0 8px #202020;
}
.photo-comm {
    border-radius: 10px;
    width: 100%;
    border:0px solid black;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 50px;
  width: 30%;
  overflow: hidden;
  display: flex;
  align-items: center;

}
.resume-comm {
    border: 0px solid black;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 10%;
    width: 50%; 
    height: 50%;
    background-color: white;
    box-shadow: 0 0 8px #202020 inset;
    text-align: center;
    display: flex;
    align-items: center;

    
}
.note {
    border: 0px solid black;
    border-radius: 10px;
    margin-left: 50px;
    width: 30%;
    height: 10%;
    background-color: white;
    box-shadow: 0 0 8px #202020 inset;
    text-align: center;
    

    
}
.xp_bar {
    border: 0px solid black;
    border-radius: 10px;
    margin-left: 50px;
    width:90.5%;
    height: 10%;
    background-color: white;
    box-shadow: 0 0 8px #202020 inset;
    text-align: center;
    display: flex;
    align-items: center;
}
.image_stats {
    border-radius: 10px;
    width: 100%;
    border:0px solid black;
    border-radius: 10px;
}

.outer {
    width: 80%;
    background: rgb(0, 48, 66);
    margin: auto;
    text-align: center;
    display: block;
    border-radius: 4px;
  }
  
  .xp-bar {
    border: 2px solid rgb(0, 110, 153);
    border-radius: 4px;
    display: block;
    height: 1em;
    background: linear-gradient(
      to bottom,
      rgb(0, 183, 255),
      rgb(166, 230, 255) 20%,
      rgb(0, 183, 255) 50%
    )
  }