/*NAVBAR*/

header
{
    font-family: "Nunito",sans-serif;
    text-transform: uppercase;
    box-sizing: border-box;

    top: -196px;
    left: 0;
    width: 100%;
    position: fixed;
    transition-duration: 300ms;
    background-color: white;
}
.hidden-nav
{
    

    display: flex;
    justify-content:space-evenly;
    height: 200px;
    width: 100%;
    background-color: #FFC33C;
    /* box-shadow: 0 1px black; */
    color: white;

    /* border-bottom: 1px solid #bbb; */

}
.hidden-nav-column
{
    margin: 20px auto;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;

    text-align: center;    

}
.hidden-nav-column:first-of-type
{
    border-right: 1px solid rgb(206, 156, 39);
}
.hidden-nav-column:last-of-type
{
    border-left: 1px solid rgb(206, 156, 39);
}
.nav-bar
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 60px;
    background-color: #fafafa;
    box-shadow: 0 1px 3px #505050;
}
.nav-shadow {
    box-shadow: 0 0 12px #505050;
}

/*BOUTON LOGO*/
.nav-logo
{
    width: 10%;
    margin: 0 10px;
    padding: 0 10px;
    border-right: 1px solid #808080;
}
.nav-logo img {
    width: 100%;
}

/*BOUTON HAMBURGER*/
.nav-menu {
    width: 5%;
    text-align: center;
    line-height: 12px;
    font-size: 12px;
    color: #404040;
    border-right: 1px solid #808080;
}
.nav-menu img {
    width: 45px;

}

/*BOUTON SEARCH*/
.nav-search-icon,
.nav-search-icon-toggled {
    
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}
.nav-search-icon-toggled {
    display: none;
}
.nav-search-icon img,
.nav-search-icon-toggled img
{
    width: 40px;
    
}

.nav-search-bar {
    width: 70%;
    display: none;
    justify-content: center;
}

.nav-search-input {
    padding: 10px;
    width: 80%;
    margin: 10px auto;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: #FFC33C50;
}

.close-search {
    width:5%;
    margin: auto;
    color: #404040;
    margin-left: 10px;
    font-size: 25px;
    line-height: 60px;
}

.close-search:hover {
    cursor: pointer;
}

/*BOUTON LIENS*/

.nav-items
{
    width: 55%;
    margin: 0 10px;
    display: flex;
    justify-content: space-evenly;
    
}

/*BOUTON COMPTE*/

.nav-account
{
    width: 15%;
    text-align: center;
}
