// @import './imports.less';
/*-----LESS VARIABLES-----*/
@light : #FAFAFA;
@light-opacity : #FAFAFADD;
@dark: #404040;
@dark-opacity : #404040DD;
@blue-1 : #00C8F8;
@blue-1-opacity : #00C8F8DD;
@blue-2 : #59C4C5;
@blue-2-opacity : #59C4C5DD;
@yellow-1 : #FFC33C;
@yellow-1-opacity : #FFC33CDD;
@yellow-2 : #FBE2B4;
@yellow-2-opacity : #FBE2B4DD;
@red : #FF4C65;
@red-opacity : #FF4C65DD;

@hidden-bg : rgb(3, 158, 197);
@hidden-font : #ffffff;
@hidden-contour : rgb(0, 185, 231);
@hidden-contour-hovered : rgb(100, 201, 226);

/*-----FONTS IMPORT-----*/
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Indie+Flower|Reenie+Beanie|Pacifico');
@import url('https://fonts.googleapis.com/css?family=Cabin:400,600');
@import url('https://fonts.googleapis.com/css?family=Grand+Hotel|Tajawal');
@import url('https://fonts.googleapis.com/css?family=Pangolin');

* {
    box-sizing: border-box;
}
/***TOAST***/
.filter-blur {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(100, 100, 100, 0.3);
    z-index: 999;
}

.toast-container {
    position: fixed;
    bottom: 110%;
    left: 50%;
    width: 40%;
    padding: 0 50px;

    font-family: 'Pangolin', sans-serif;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    transform: translateX(-50%);

    animation-name: toast;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-iteration-count: 1;
    
    .toast-content {
        display: flex;
        align-items: center;
        img {
            width: 40%;
            height: 30%;
            animation-name: mascotte;
            animation-duration: 5s;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
            animation-delay: 2s;
            animation-play-state: paused;
        }

        ul {
            width: 60%;
            margin: 20px 20px;
            margin-right: 0;
            padding: 10px 25px;
            border-radius: 20px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            display: flex;
            justify-content: center;
            flex-direction: column;
            background-color: @light;
            list-style-type: circle;

            .toast-dismiss {
                position: absolute;
                top: 5px;
                right: -10px;

                height: 25px;
                width: 25px;

                display: flex;
                justify-content: center;
                align-items: center;
                
                color: @light; 
                font-size: 1.2rem;
                
                border-radius: 100px;
                background-color: @dark;

                cursor: pointer;
            }
            li {
                padding: 0 20px;
            }
        }
    }

    .toast-success {
        color: #008000;
    }
    .toast-erreur {
        color: #800000;
    }
    .toast-info {
        color: #000080;
    }
}

@keyframes toast {
    0% {
        bottom: 110%;
    }

    60% {
        bottom: 0%;
    }
    
    80% {
        bottom: 10%;
    }

    100% {
        bottom: 5%;
    }
}

@keyframes mascotte {
    0% {
        transform: rotate(0deg);
    }
    2% {
        transform: rotate(15deg);
    }
    4% {
        transform: rotate(0deg);
    }
    6% {
        transform: rotate(-15deg);
    }
    8% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}